
@media screen and (max-width: 899px) {
    body {
        max-width: 400px;
        overflow-x: hidden;
    }   

    .nav-item {
        color:white;
        font-size: 1.5rem;
        display: grid;
        background-color: #333333;
        padding: 6px;
        margin: 3px;
        text-decoration: none;
        /* button effect */
        border-top:2px solid #777777;
        border-right:2px solid #333333;
        border-bottom:2px solid #444444;
        border-left:2px solid #777777;
    }

}

body {
    overflow-x: hidden;
    max-width: 900px;
    background: linear-gradient(10deg, #062081 0%, #732caa 100%);
    color: white;
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 1.6rem;
    text-align: left;
    margin-left: 5vw;
    line-height: 1.5;
}

a {
    font-size: 1.6rem;
    color: #fbce13;
}

input {
    margin-right: 1vw;
}

.main-header {
    padding-bottom: 5vh;
}
.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 10vh;

}  

.nav-item {
    color:white;
    font-size: 2rem;
    display: grid;
    background-color: #333333;
    padding: 9px;
    margin: 10px;
    text-decoration: none;
    /* button effect */
    border-top:3px solid #777777;
    border-right:3px solid #333333;
    border-bottom:3px solid #444444;
    border-left:3px solid #777777;

}

.nav-item:active {
    background-color: #fbce13;
    box-shadow: 0 5px gray;
    transform: translateY(2px);
}

.input-zip-container {
    font-size: 1.6rem;
}

.license-content {
    font-size: 1rem;
    padding-top: 30vh;
    padding-bottom:30vh;
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;
}   

.license-text {
    font-size: 1rem;
}

.license-text a {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}