@media screen and (min-width: 900px) {
    body {
        max-width: 900px;
    }    

}

body {
    background: linear-gradient(140deg, #5f73bd 0%, #9b33ea 100%);
    color: white;
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 1.8rem;
}

a {
    font-size: 1.8rem;
}

.main-header {
    padding-bottom: 5vh;
}
.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 15vh;

}  

.nav-item {
    color:white;
    font-size: 2rem;
    display: grid;
    background-color: #333333;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    /* button effect */
    border-top:3px solid #777777;
    border-right:3px solid #333333;
    border-bottom:3px solid #444444;
    border-left:3px solid #777777;

}

.nav-item:active {
    background-color: #fbce13;
    box-shadow: 0 5px gray;
    transform: translateY(2px);
}

.input-zip-container {
    font-size: 1.8rem;
}

.license-content {
    font-size: 1rem;
    padding-top: 30vh;
    padding-bottom:30vh;
    max-width: 400px;
    margin-left: auto;
    margin-right:auto;
}   

.license-text {
    font-size: 1rem;
}

.license-text a {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}