@media screen and (min-width: 900px) {
    body {
        max-width: 900px;
    }    

}

body {
    background: linear-gradient(140deg, #5f73bd 0%, #9b33ea 100%);
    color: white;
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


}

p {
    font-size: 1.8rem;
}

a {
    font-size: 1.8rem;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 15vh;

}  

.nav-item {
    color:white;
    font-size: 2.5rem;
    display: grid;
}

.input-zip-container {
    font-size: 1.8rem;
}

.license-content {
    font-size: 0.8rem;
}